<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deposit</title>
    <th:block th:replace="layout/head :: head"/>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">Deposit</a>
                <div class="d-flex" style="gap: 10px;">
                    <a href="/customers">
                        <button class="btn btn-outline-light" type="button">
                            <i class="fas fa-list-ul"></i>
                            Customers List
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <form th:object="${deposit}" method="post">
            <div class="row mb-3 mt-3">
                <div class="col-lg-6">
                    <label for="id" class="form-label">Customer ID</label>
                    <input class="form-control" id="id" th:field="*{customer.id}" readonly>
                </div>
                <div class="col-lg-6">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" th:field="*{customer.fullName}" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label class="form-label">Current Balance</label>
                    <input class="form-control" id="balance" th:field="*{customer.balance}" th:readonly="*{true}">
                </div>
                <div class="col-lg-6">
                    <label class="form-label">Transaction Amount ($)</label>
                    <input type="text" class="form-control" th:field="*{transactionAmount}">
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fas fa-plus"></i>
                        Deposit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<th:block th:if="${success == true}">
    <footer class="container-fluid success">
        <div class="container">
            <div class="notification">
                <p class="success" th:text="${message}"></p>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:if="${success == false}">
    <footer class="container-fluid error">
        <div class="container">
            <div class="notification">
                <p class="error" th:text="${message}"></p>
            </div>
        </div>
    </footer>
</th:block>



</body>
</html>